<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">
<div layout:fragment="site_content">
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <form th:action="@{'/saveItem'}" method="post">
                <input type="hidden" name="id" th:value="${item.id}">
                <div class="form-group">
                    <label th:text="#{label.name}"> </label>
                    <input type="text" class="form-control" name="item_name" th:value="${item!=null?item.name:' '}">
                </div>
                <div class="form-group">
                    <label th:text="#{label.price}"> </label>
                    <input type="number" class="form-control" name="item_price" value="0" max="1000000" min="0" th:value="${item!=null?item.price:'0'}">
                </div>
                <div class="form-group">
                    <label th:text="#{label.amount}"> </label>
                    <input type="number" class="form-control" name="item_amount" value="0" max="1000000" min="0" th:value="${item!=null?item.amount :'0'}">
                </div>
                <div class="form-group">
                    <label th:text="#{label.country}"> </label>
                    <select class="form-control" name = "country_id">
                        <option th:each="cnt : ${countries}" th:text="${cnt.name} + ' / ' + ${cnt.code}" th:value="${cnt.id}" th:selected="${item!=null&&item.country!=null&&item.country.id==cnt.id}"></option>
                    </select>
                </div>
                <div class = "form-group">
                    <button class="btn btn-success" th:text="#{button.save}"></button>


                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger ml-2" data-bs-toggle="modal" data-bs-target="#deleteModal" th:text="#{button.delete}"></button>
                </div>
            </form>


            <!-- Modal -->
            <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <form th:action="${'/deleteItem'}" method="post">
                        <input type="hidden" name="id" th:value="${item.id}">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel"></h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h5 th:text="#{message.confirm}"></h5>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{button.cancel}"></button>
                                <button class="btn btn-danger" th:text="#{button.delete}">OK</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</html>