<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">
    <div layout:fragment="site_content">
        <div class="row mt-5">
            <div class="col-6 offset-3">
                <form th:action="@{'/addItem'}" method="post">
                    <div class="form-group">
                        <label th:text="#{label.name}"> </label>
                        <input type="text" class="form-control" name="item_name">
                    </div>
                    <div class="form-group">
                        <label th:text="#{label.price}"> </label>
                        <input type="number" class="form-control" name="item_price" value="0" max="1000000" min="0">
                    </div>
                    <div class="form-group">
                        <label th:text="#{label.amount}"> </label>
                        <input type="number" class="form-control" name="item_amount" value="0" max="1000000" min="0">
                    </div>
                    <div class="form-group">
                        <label th:text="#{label.country}"> </label>
                        <select class="form-control" name = "country_id">
                            <option th:each="cnt:${countries}" th:text="${cnt.name} + ' / ' + ${cnt.code}" th:value="${cnt.id}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" th:text="#{button.add}"> </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th th:text="#{label.name}"></th>
                        <th th:text="#{label.price}"></th>
                        <th th:text="#{label.amount}"></th>
                        <th th:text="#{label.country}"></th>
                        <th width="10%" th:text="#{label.details}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="it : ${tovary}">
                        <td th:text="${it.id}"> </td>
                        <td th:text="${it.name}"> </td>
                        <td th:text="${it.price}"> </td>
                        <td th:text="${it.amount}"> </td>
                        <td th:text="${it.country!=null?it.country.name + ' - ' + it.country.code :'-----'}"> </td>
                        <td><a th:href="@{'/detailes/' + ${it.id}}" class="btn btn-info btn-sm" th:text="#{label.details}"></a></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</html>